/* * {
	/*border: 1px dashed red;
	min-height: 10px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

body {
	background: black;
}

p {
	font-size: 1rem;
}

button {
	background-color: lightgray;
	font-size: 1rem;
	font-family: "Indie Flower", cursive;
}

input {
	display: block;
	font-size: medium;
	margin: 0.4rem;
	border: none;
	font-family: "Indie Flower", cursive;
}
input:nth-child(-n + 2) {
	border-bottom: 1px solid grey;
}

.post-card {
	font-family: "Indie Flower", cursive;
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 10px;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px 0;
}

.postcard-footer {
	text-align: center;
}
